

table .operation a{
    margin-right: 5px;
}

#emptyModal .modal-dialog{
    width:800px;
}
#emptyModal .modal-content{
    padding-top:10px;
    padding-bottom:10px;
}

.operation .dropdown-menu{
    left: -40px;
}
#editQuoteForm .form-group{
    padding:10px 0;
}

#editQuoteForm #enable-tabs button{
    width:130px;

}
#editQuoteForm #enable-tabs .btn-group{
    width: 100%;
    margin-bottom: 0;
}
#editQuoteForm #enable-tabs .row-bot button {
    border-top: 0;
}
#editQuoteForm .panel-body-2{
    border-top:#e7e7e7 15px solid;
    border-bottom:#e7e7e7 15px solid;
}
.panel-heading-logo{
    padding:5px 15px;
}

#editContractForm .panel-body{
    padding: 5px 20px 10px 20px!important;
    border-bottom:#e7e7e7 1px solid;
}
#editContractForm .form-group {
    padding: 5px 0 15px;
}

.ui-datepicker{
    z-index: 10000 !important;
}

.viewContainer{
    box-shadow: none;
}

#ajaxViewRefQuote .panel-body{
    border:none;
}
#ajaxViewRefQuote .viewContainer{
    border: 1px solid #ccc;
}